*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF06;
    --secondary-color:#8E4106;
    --white: #FFFFFF;
    --space-defaut:70px;
}
body{

    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-defaut);
    padding-right: var(--space-defaut);
    padding-bottom: 24px;
    padding-left: var(--space-defaut);
}
header{
    background-color: aqua;
    height: 48px;
    
}
main{
    background-color: blueviolet;
    flex-grow: 1;
}
footer{
    background-color:tomato;
}